.outerContainer {
    border: solid #16164029;
    border-radius: 20px;
    padding: 16px;
    width: 100%;
}

.containerTitle {
    margin-bottom: 12px;
}

.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
